<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <a href="/movies"><h2>Peliculas</h2></a>
    <a href="/genres"><h2>Generos</h2></a>
    <a href="/actors"><h2>Actores</h2></a>
    <a href="/movies/new"><h2>ordenadas por fecha</h2></a>
    <a href="/movies/recommended"><h2>Top 5</h2></a>
  </body>
</html>

